body,figure,figcaption,div,p,h2,img{
	margin: 0;
	padding: 0;
}
figure{
	position: relative;
	width: 33.3%;
	float: left;
	overflow: hidden;
	height: 350px;
	margin: 10px 0;
}
figcaption{
	position: absolute;
	top: 0px;
	left: 0px;
	color: #fff;
	font-family: "微软雅黑";
}
figure img{
	width: 100%;
	height: 100%;
	display: block;
	margin: 5px;
	opacity: 0.8;
}

figure:hover img{
	transform: translate(-50px,0px);
	-webkit-transform: translate(-50px,0px);
	opacity: 0.5;
}
figure figcaption p,h2,span,div,figure img{
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
}

@media screen and (max-width: 600px){
	figure{width: 100%;}
}
@media screen and (min-width: 601px) and (max-width: 1000px){
	figure{width: 50%;}
}
@media screen and (min-width: 1001px){
	figure{width: 33.3%;}
}

.test1{background: #2f0000;}
.test1 figcaption p{
	background: #fff;
	color: #333;
	text-align: center;
	margin: 5px;
	transform: translate(-120px,0px);
}
.test1 figcaption{
	padding: 20px;
	opacity: 0.8;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
}
.test1 figcaption{padding: 20px;}

.test1 figcaption p:nth-of-type(1){
	transition-delay: 0.05s;
	-webkit-transition-delay: 0.05s;
}
.test1 figcaption p:nth-of-type(2){
	transition-delay: 0.1s;
	-webkit-transition-delay: 0.1s;
}
.test1 figcaption p:nth-of-type(3){
	transition-delay: 0.15s;
	-webkit-transition-delay: 0.15s;
}
.test1:hover figcaption p{
	transform: translate(0px,0px);
	-webkit-transform: translate(0px,0px);
}

.test2{background:#030;} 
.test2 figcaption{width: 100%;height: 100%;}
.test2 figcaption h2{margin-top: 15%;margin-left: 15%;}
.test2 figcaption p{
	margin-left: 15%;
	transform: translate(0px,50px);
	-webkit-transform: translate(0px,50px);
	opacity: 0;
}
.test2 figcaption div{
	border: 2px solid #fff;
	width: 80%;
	height: 80%;
	position: absolute;
	top: 10%;
	left: 10%;
	transform: translate(0px,-350px) rotate(0deg);
	-webkit-transform: translate(0px,-350px) rotate(0deg);
}
.test2:hover figcaption div{
	transform: translate(0px,0px) rotate(360deg);
	-webkit-transform: translate(0px,0px) rotate(360deg);
}
.test2:hover img{
	opacity: 0.5;
}
.test2:hover figcaption p{
	transform: translate(0px,0px);
	-webkit-transform: translate(0px,0px);
	opacity: 1;
}

.test3{background: #000;}
.test3 figcaption{top: 30%;left: 15%;}
.test3 figcaption h2{
	transform: skew(89deg);
	-webkit-transform: skew(89deg);
}
.test3 figcaption p{
	transform: skew(89deg);
	-webkit-transform: skew(89deg);
	transition-delay: 0.1s;
	-webkit-transition-delay: 0.1s;
}
.test3:hover img{opacity: 0.5;}
.test3:hover figcaption h2,.test3:hover figcaption p{
	transform: skew(0deg);
	-webkit-transform: skew(0deg);
}













